.home-page-title {
  width: 470px;
  height: 60px;
  text-align: center;
  font-size: 24px;
  background-color: #278AFF;
  color: white;
  padding: 17px 0 17px 0;
}

.item-bar {
  height: 420px;
  width: 470px;
  overflow: auto;
}

.span-common {
  display:inline-block;
  width: 60px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
  overflow: hidden;
  /* margin-left: 5px; */
}

.add-button {
  width: 450px;
  height: 36px;
  margin-left: 10px;
  background-color: #278AFF;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  color: #FFFFFF;
}

.home-page-title {
  width: 470px;
  height: 60px;
  text-align: center;
  font-size: 24px;
  background-color: #278AFF;
  color: white;
  padding: 17px 0 17px 0;
}

.item-bar {
  height: 490px;
  width: 470px;
  overflow: auto;
  margin-top: 30px;
}

.span-common {
  display:inline-block;
  width: 60px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
  /* margin-left: 5px; */
}
.list-detail-button-common {
  width: 80px;
  height: 36px;
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
  border: transparent;
}

.expense-item {
  width: 450px;
  height: 36px;
}
.delete-button {
  background-color: #D34C4B;
  color: #FFFFFF;
  margin-left: 30px;
}

.save-button {
  background-color: #278AFF;
  color: #FFFFFF;
  margin-left: 250px;
}

.inputContainer {
  width: 470px;
  margin-top: 30px;
}

.label {
  margin-left: 20px;
  display: inline-block;
  width: 100px;
  text-align: center;
}

.input {
  display: inline-block;
  width: 310px;
  margin-left: 20px;
}
